

.dataSectionMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #d2b48cdd;
    border: none;
    border: 1px solid #d2b48cdd;
    border-radius: 20px;
}

@media (max-width: 860px) {
    .mainContainer {
        width: 90%;
        flex-direction: column;
    }

    .leftContainer {
        width: 95%!important;
    }

    .rightContainer {
        width: 95% !important;
    }

    .center {
        margin-left: 10px;
        margin-right: 10px;
    }

    .resultEditCustomize {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
   }
}