.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.fa-solid {
    font-size: 40px;
    color: #d2b48cdd;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
}