.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.fa-solid {
    font-size: 40px;
    color: #d2b48cdd;
}

.logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

li {
    list-style: none;
    cursor: pointer;
}



@media (max-width: 860px) {
    ul {
        gap: 15px;
    }
        
    .fa-solid {
        font-size: 30px;
    }
}